<!DOCTYPE html>
<html>
  <head>
    <title>The Local City</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <%- if protect_against_forgery? -%>
      <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>">
    <%- end -%>
    <%= stylesheet_link_tag 'dialog/jquery-ui-1.7.2.custom.css', 'master', :cache => true %>
    <!--[if IE]>
    <%= javascript_include_tag 'html5' %>
    <![endif]-->
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://j.maxmind.com/app/geoip.js"></script>


    <%= javascript_include_tag 'jquery-1.3.2.min', 'jquery-ui-1.7.2.custom.min','perfecttime/PerfectTime', 'date.format', 'application', 'old_map', 'jquery.form', :cache => true %>
    <%= javascript_include_tag 'geoip', 'map' %>
    <%= javascript_include_tag 'items' %>

  </head>
  <body>
  <div id="search">
    <button onclick="Map.search($('#search-box').val());"></button>
    <input type="text" id="search-box" name="search-box" value=" " onKeyPress="return submitenter(this,event)" />
  </div>
  
  <section>
    <%= yield %>
  </section>

  <div id="sidebar-header">
    <div class="logo"></div>
  </div>

  <ul class="tabs">
  	<li class="current"><a href="#"><img class="event-tab" src="/images/events.png" /></a></li>
        </li>
  </ul>

	<aside>
      <ol></ol>
	</aside> 

  <footer>  
    <div id="date-range"></div>
    <div id="label-left"><span></span></div>
    <div id="label-right"><span></span></div>
  </footer>

  <div id="copyright">
    <a href="/terms.html">Terms of Use</a>
  </div>

  <div id="spacer">
    <% unless current_user.nil? %>
    <div id="new-item"></div>  
    <div id="new-item-panel">
      <%= render :partial => '/items/new' %>
    </div>
    <% end %>
  </div>  

</body>
</html>

<script type="text/javascript">
 <!--
  function submitenter(myfield,e) {
  	var keycode;
  	if (window.event) keycode = window.event.keyCode;
  	else if (e) keycode = e.which;
  	else return true;

  	if (keycode == 13)
  	   {
  	   Map.search($('#search-box').val());
  	   return false;
  	   }
  	else
  	   return true;
  }
 // -->
</script>
