<!DOCTYPE html>
<html>
  <head>
    <title>MyMapNow.com</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <%- if protect_against_forgery? -%>
      <meta name="authenticity-token" id="authenticity-token" content="<%= form_authenticity_token %>">
    <%- end -%>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://j.maxmind.com/app/geoip.js"></script>
    <%= javascript_include_tag 'map', 'geoip', :cache => true %>
    <%= javascript_include_tag :jelly, *application_jelly_files %>
    <%= spread_jelly %>
    <style type="text/css">
      body { background: #171717; color: lightgray; margin: 0px;}
      div.header { width: 100%; background: url(/images/header.png) repeat-x; display: table; height: 40px; }
      span.header-child { display: table-cell; vertical-align: middle; }
      div.footer { width: 100%; background: url(/images/header.png) repeat-x; display: table; height: 40px;}
    </style>
    <script type="text/javascript">
      var userflyHost = (("https:" == document.location.protocol) ? "https://secure.userfly.com" : "http://asset.userfly.com");
      document.write(unescape("%3Cscript src='" + userflyHost + "/users/33910/userfly.js' type='text/javascript'%3E%3C/script%3E"));
    </script>

  </head>
  <body onload="Map.initialize(); Map.updateSearchBoxWithCurrentLocation(); loadItems();">
    <div class="header">
      <span class="header-child"><img src="/images/logo.png" /></span>
      <span class="header-child"><input type="text" id="search-box" name="search-box" /><input type="button" onclick="Map.search($('input[name=search-box]').val())"></span>
      <span class="header-child">from <%= 5.days.ago.to_s %> to <%= 30.days.from_now.to_s %></span>
    </div>
    <div id="map" class="map" style="position: absolute; width: 100%; height: 91%;"></div>
    <div id="footer" class="footer" style="height: 40px;"></div>
    <script>
      // FIXME: untested
      var loadItems = function() {
        $.getJSON('/items', function(items) {
          jQuery.each(items, function(i) {
            var item = items[i]['item'];
            var marker = new google.maps.Marker({
              position: new google.maps.LatLng(item.latitude, item.longitude),
              map: Map.map
            });
          });
        });
      };
    </script>
  </body>
</html>
